$theme-primary-color: #764af3;
$theme-secodary-color: #ececec;
$theme-purple-color: #ccbcfb;
$hover-color: #a98ff1;
$theme-info: #4e9afe;
$black: #000000;
$white: #ffffff;
$input-bg-color: #f8fafb;
$gray-color: #a4a9bc;
$light-gray-color: #a1a5b7;
$border-color: #00000029;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit Regular";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: $theme-primary-color;
  text-decoration: none;

  &.text-info {
    color: $theme-info  !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

p {
  color: $black;
  font-family: "Outfit Regular";
}

img,
audio,
video,
iframe {
  max-width: 100%;
}

input,
textarea {
  background: $white 0% 0% no-repeat padding-box;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 12px 15px;
  width: 100%;
  font-size: 14px;
  font-family: "Outfit regular";
  line-height: 15px;
  color: $black;

  &::placeholder,
  &::-webkit-input-placeholder {
    color: $gray-color;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: inherit;
  }
}

.radius-rounded {
  border-radius: 9999px;
}

.form-group {
  margin-bottom: 30px;
}

.text-muted {
  color: $gray-color  !important;
}

.btn {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 21px;
  min-width: 100px;
}

:not(.btn-check)+.btn:active {
  border-color: transparent;
}

.btn-sm {
  padding: 6px 18px;
}

.btn-primary {
  background-color: $theme-primary-color;
  border-color: $theme-primary-color;
  color: $white;

  &:hover,
  &:active,
  &:disabled {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}

.btn-secondary {
  background-color: $theme-secodary-color;
  border-color: $theme-secodary-color;
  color: $black;

  &:hover,
  &:active,
  &:disabled {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}

.select2-container {
  width: 100% !important;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  -webkit-box-shadow: inset 0px 0px 2px #00000029 !important;
  box-shadow: inset 0px 0px 2px #00000029 !important;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.select2-selection {
  width: 100% !important;
  padding: 9px 10px;
  font-size: 12px;
  border: none !important;
  height: 45px !important;
  background: #F9F9F9 0% 0% no-repeat padding-box !important;
  -webkit-box-shadow: inset 0px 0px 2px #00000029 !important;
  box-shadow: inset 0px 0px 2px #00000029 !important;
  border-radius: 6px !important;
  background-color: #f9f9f9 !important;

  .select2-selection__arrow {
    top: 10px !important;
  }
}


.select2-container {
  z-index: 111111;
}

.btn-info {
  background-color: $theme-info;
  border-color: $theme-info;
  color: $white;

  &:hover,
  &:active,
  &:disabled {
    background-color: $hover-color;
    border-color: $hover-color;
    color: $white;
  }
}

.custom_checkbox {
  position: relative;
  display: inline-block;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:checked~p {
      &::after {
        background-color: $theme-primary-color;
        border-color: $theme-primary-color;
      }

      &::before {
        opacity: 1;
      }
    }
  }

  p {
    font-size: 14px;
    color: $gray-color;
    position: relative;
    margin-bottom: 0;
    padding-left: 22px;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      border: 1px solid $gray-color;
      border-radius: 3px;
      left: 0;
      top: 2px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 3px;
      width: 9px;
      height: 5px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(-45deg);
      z-index: 1;
      opacity: 0;
    }
  }

  a {
    position: relative;
    z-index: 2;
  }
}

.custom_radio {
  position: relative;
  display: inline-block;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:checked~p {
      &::after {
        background-color: $theme-primary-color;
        border-color: $theme-primary-color;
      }

      &::before {
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
      }
    }
  }

  p {
    font-size: 14px;
    color: $gray-color;
    position: relative;
    margin-bottom: 0;
    padding-left: 22px;

    &::after {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      background-color: $theme-secodary-color;
      border: 1px solid $theme-secodary-color;
      border-radius: 100%;
      left: 0;
      top: 2px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 5px;
      width: 9px;
      height: 5px;
      border-left: 2px solid $gray-color;
      border-bottom: 2px solid $gray-color;
      transform: rotate(-45deg);
      z-index: 1;
    }
  }

  a {
    position: relative;
    z-index: 2;
  }
}

.page-title {
  font-size: 16px;
  font-family: "Outfit SemiBold";
  line-height: 20px;
  color: $black;
  margin-bottom: 16px;
}

.alert_modal {
  .modal-dialog {
    max-width: 400px;

    .modal-content {
      border: 0;
      padding: 20px;
      min-height: 300px;
      justify-content: center;

      .modal-header {
        border: 0;
        padding-bottom: 0;
      }

      .modal-body {
        text-align: center;
        flex: 0;
      }

      .modal-footer {
        border: 0;
        justify-content: center;
      }
    }
  }
}

.table {
  border-radius: 8px;
  overflow: hidden;

  thead {
    tr {
      background-color: rgba($color: $theme-primary-color, $alpha: 0.1);
      box-shadow: 0px 3px 8px #0000000f;

      th {
        padding: 18px 17px;
        border: 0;
        font-size: 13px;
        line-height: 16px;
        color: $black;
      }
    }
  }

  tbody {
    tr {
      background-color: $white;

      &:nth-child(even) {
        background-color: rgba($color: $theme-secodary-color, $alpha: 0.1);
      }



      td {
        border: 0;
        font-size: 14px;
        line-height: 18px;
        padding: 14px 20px;
        vertical-align: middle;
        color: $black;

        @media (max-width: 1024px) {
          font-size: 12px;
          line-height: 18px;
          padding: 10px;
        }

        .long_content {
          margin-bottom: 0;
          max-width: 70%;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

// Sidebar
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 271px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  padding: 30px 25px;
  color: $white;
  background-color: $theme-primary-color;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;

    .brand-row {
      display: flex;
      align-items: center;
      padding: 0 20px;
      transition: all 0.5s ease-in-out;

      span {
        font-size: 24px;
        margin-left: 10px;
        white-space: nowrap;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .profile-dropdown {
    .profile.show {
      background-color: $white;

      .user_name {
        color: $theme-primary-color  !important;
      }

      &::after {
        color: $theme-primary-color  !important;
      }
    }

    &.active {
      .profile {
        background-color: $white;
        min-width: 40px;

        .user_name {
          color: $theme-primary-color  !important;
        }

        &::after {
          color: $theme-primary-color  !important;
        }
      }

      .dropdown-menu {
        left: 0;
        min-width: 44px;
      }
    }

    .profile {
      padding: 9px 24px;
      text-align: left;
      margin-bottom: 15px;
      border: none;
      transition: all 0.5s ease-in-out;

      .profile_image {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      .user_name {
        margin-left: 10px;
        font-family: "Outfit Medium";
        font-size: 12px;
        color: $white;
        transition: all 0.5s ease-in-out;
      }

      &::after {
        position: absolute;
        right: 12px;
        top: 20px;
        margin-left: 150px;
        color: #ffffff;
        transition: all 0.5s ease-in-out;
      }
    }

    .dropdown-menu {
      border-radius: 8px;
      transition: 3s ease-out;

      &[data-bs-popper] {
        top: 80%;
      }

      .dropdown-item {
        font-family: "Outfit Medium";
        font-size: 14px;

        &:hover {
          color: $theme-primary-color;
          background-color: $theme-secodary-color;
        }

        &.active {
          color: $theme-primary-color;
          background-color: $theme-secodary-color;
        }
      }
    }

    .show {
      width: 100%;
    }
  }

  .features-list {
    display: flex;
    flex-direction: column;
    border: none;

    .features-item {
      position: relative;
      width: 100%;
      transition: all 0.5s ease-in-out;
      margin-bottom: 15px;

      a {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding: 9px 24px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        svg {
          flex: 0 0 24px;
        }

        &:hover {
          background-color: $hover-color;
          border: 1px solid $hover-color;

          .right-arrow {
            opacity: 1;
          }
        }

        &.active {
          background-color: $white;
          color: $theme-primary-color;

          .feature-number {
            color: $white;
            background-color: #764af3;
          }
        }

        .feature-text {
          font-family: "Outfit Medium";
          margin-left: 14px;
          font-size: 12px;
          line-height: 24px;
          white-space: nowrap;
          transition: all 0.5s ease-in-out;
        }

        .right-arrow {
          position: absolute;
          top: 7px;
          right: 18px;
          opacity: 0;
          transition: 0.3s;

          img {
            width: 13px;
          }
        }

        .feature-number {
          width: 17px;
          height: 17px;
          text-align: center;
          font-size: 12px;
          background-color: #ffffff;
          color: #764af3;
          border-radius: 5px;
          margin-left: 24px;
          transition: all 0.5s ease-in-out;
        }

        .feature-collapse-number {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  .footer-feature-list {
    margin-top: 51px;
  }

  .footer-bottom {
    font-size: 10px;
    padding: 8px 19px;
    white-space: nowrap;
    color: $theme-purple-color;
  }

  &.active {
    width: 93px;
    transition: all 0.5s ease-in-out;

    .logo-wrapper {
      .brand-row {
        padding-right: 0;
        padding-left: 11px;
      }

      span {
        visibility: hidden;
        opacity: 0;
      }
    }

    .profile-dropdown {
      .profile {
        padding: 9px 10px;

        &::after {
          visibility: hidden;
        }
      }

      .user_name {
        visibility: hidden;
        opacity: 0;
      }
    }

    .features-list {
      .features-item {
        a {
          min-width: 44px;
          padding: 9px 10px;

          &:hover .right-arrow {
            opacity: 0;
            visibility: hidden;
          }

          .feature-text {
            visibility: hidden;
            opacity: 0;
            white-space: nowrap;
          }

          .right-arrow {
            // display: none;
          }

          .feature-collapse-number {
            font-family: "Outfit SemiBold";
            font-size: 7px;
            line-height: 13px !important;
            top: 4px;
            left: 24px;
            position: absolute;
            width: 13px;
            background-color: #ffffff;
            color: #764af3;
            text-align: center;
            line-height: 12px;
            height: 13px;
            border-radius: 50%;
            visibility: visible;
            opacity: 1;
          }

          &.active {
            .feature-collapse-number {
              background-color: #764af3;
              color: $white;
            }
          }
        }
      }
    }

    .footer-bottom {
      visibility: hidden;
      opacity: 0.65;
    }
  }


}

// header
header {
  position: relative;
  margin-left: 271px;
  transition: all 0.5s ease-in-out;

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 271px);
    height: auto;
    z-index: 3;
    margin-left: 271px;
  }


  .navbar {
    padding: 19px 30px;
    background: $white;
    transition: all 0.5s ease-in-out;

    .navbar_menu {
      margin-left: 42px;

      .navbar-nav {
        border-bottom: none;

        .nav-item {
          .nav-link {
            position: relative;
            padding: 0 26px;
            border: none;

            &.active {
              color: $theme-primary-color;
              border: none;

              &::before {
                position: absolute;
                content: "";
                width: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 4px;
                background-color: #764af3;
                bottom: -29px;

                @media (max-width:991px) {
                  display: none;
                }
              }
            }

            &:hover {
              color: $hover-color;
            }

            @media (max-width: 1024px) {
              padding: 0 16px;
            }
          }
        }
      }
    }

    .side-nav-btn {
      margin-left: -37px;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 14px;
      justify-content: center;
      align-items: center;
      top: 35px;
      height: 14px;
      border-radius: 50%;
      z-index: 1200;
      border: none;
      margin-bottom: 0;
      transition: all 0.9s ease-in-out;

      img {
        transition: all 0.9s ease-in-out;
        flex: 0 0 7px;
        transform: rotateZ(180deg);
      }
    }

    .search_group {
      border-radius: 23px;
      overflow: hidden;
      max-width: 248px;
      width: 100%;

      input[type="search"] {
        border: none;
        padding: 10px 0 10px 26px;
        box-shadow: none;
        color: $gray-color;
        font-family: "Outfit Regular";
        background-color: $input-bg-color;
        font-size: 14px;
      }

      .btn {
        border: none;
        padding: 14px 18px;
        background-color: $input-bg-color;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .nav-right {
      .btn-group {
        position: relative;

        .notification-btn {
          padding: 0px;
          margin-right: 10px;
          border: none;
          min-width: 42px;
          width: 42px;
          height: 42px;

          img {
            transition: all 0.9s ease-in-out;
            color: $theme-primary-color;
            border-radius: 50%;
            background-color: #EFEFEF;
          }

          &.collapsed {
            img {
              background-color: $white;
            }
          }


        }

        .notification_menu {
          position: absolute;
          left: -123px;
          right: 0;
          top: 50px;
          width: 100%;
          height: auto;
          z-index: 9;
          background-color: $white;
          min-width: 290px;
          transition: all 0.5s ease-in-out;

          &::before {
            position: absolute;
            content: "";
            top: -5px;
            left: 0px;
            right: 0;
            width: 5px;
            margin: 0 auto;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #ffffff transparent;
          }

          .card-body {
            border: none;
            padding: 0;
          }

          @media (max-width: 1200px) {
            left: -210px;
          }
        }

        p.head {
          font-size: 18px;
          padding: 16px 12px 0;
          margin-bottom: 0;
        }

        .nav-tabs {
          padding-bottom: 10px;
          padding: 15px 12px;

          .nav-link {
            padding: 8px;
            color: $gray-color;
            border: none;
            border-radius: 8px;
            font-size: 10px;
            line-height: 12px;
            font-family: "Outfit Regular";
          }

          .active {
            color: $theme-primary-color;
            background-color: $theme-secodary-color;
          }
        }

        .tab-content {
          padding: 15px 12px;

          .notification-list {
            li {
              &:not(:last-child) {
                margin-bottom: 7px;
              }

              .items {
                display: flex;

                .profile {
                  position: relative;
                  width: 42px;
                  height: 42px;
                  flex: 0 0 42px;

                  .user_profile {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                  }

                  .user_badge {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $theme-primary-color;
                    border-radius: 50%;
                  }
                }

                .item_details {
                  margin-left: 7px;
                  display: flex;
                  flex-direction: column;

                  p {
                    font-size: 10px;
                    font-family: "Outfit Regular";
                    margin-bottom: 5px;
                  }

                  span {
                    font-size: 8px;
                    font-family: "Outfit Regular";
                    color: $gray-color;
                  }
                }
              }
            }
          }

          .see_all_btn {
            display: block;
            color: $theme-primary-color;
            font-size: 10px;
            text-align: center;
            text-decoration: none;
          }
        }

        .dropdown-menu {
          width: 100%;
        }

        .profile-dropdown {
          padding: 7px 10px;
          border-radius: 23px;
          color: $theme-primary-color;
          border: 1px solid $theme-primary-color;
          display: flex;
          align-items: center;

          @media (max-width: 1200px) {
            padding: 5px;
            min-width: 40px;
          }

          .profile_image {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            outline: 1px solid $theme-primary-color;
          }

          span {
            margin-left: 10px;
            text-transform: capitalize;

            @media (max-width: 1200px) {
              display: none;
            }
          }

          &::after {
            margin-left: 14px;
            margin-right: 18px;

            @media (max-width: 1200px) {
              display: none;
            }
          }
        }
      }

      @media (max-width: 991px) {
        margin-left: auto;
        margin-right: 22px;
      }
    }
  }

  &.active {
    margin-left: 93px;


    &.fixed-header {
      width: calc(100% - 93px);
      margin-left: 93px;
    }

    .side-nav-btn {
      margin-left: -39px;

      img {
        transform: rotateZ(0deg);
      }
    }
  }
}

// Admin_form

.admin_signin {
  background-color: $theme-secodary-color;
  min-height: 100vh;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 991px) {
    padding: 20px 15px;
  }

  .admin_container {
    background-color: $white;
    border-radius: 23px;

    .login_panel {
      padding: 50px 80px;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
      background-color: $theme-primary-color;
      min-height: calc(100vh - 120px);

      @media (max-width: 991px) {
        border-radius: 23px;
        padding: 30px 35px;
        min-height: auto;
      }

      @media (max-width: 375px) {
        padding: 30px;
      }

      .brand {
        img:nth-child(2) {
          margin-left: 8px;
        }
      }

      .login_form {
        max-width: 500px;
        margin: 70px auto;

        @media (max-width: 767px) {
          margin: 70px auto 30px;
        }

        @media (max-width: 375px) {
          margin: 40px auto 30px;
        }

        .heading {
          color: $white;
          font-size: 30px;
          margin-bottom: 50px;
          text-align: center;
          font-family: "Outfit Medium";

          @media (max-width: 767px) {
            font-size: 24px;
            margin-bottom: 30px;
          }
        }

        .details {
          color: #ffffff;
          font-size: 16px;
          margin-bottom: 26px;
          margin-left: -12px;

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }

        label {
          color: $white;
          vertical-align: middle;
          font-size: 15px;
          padding: 0;
          margin-bottom: 3px;
        }

        input {
          border-radius: 8px;
          height: 52px;
          padding: 15px 35px;
          vertical-align: middle;
          color: $black;
          box-shadow: inset 0 0 2px #000000;
          border: none;
          padding: 10px 0 10px 26px;
          font-family: "Outfit Regular";
          background-color: $input-bg-color;
          font-size: 16px;

          &:focus {
            border: none;
            box-shadow: none;
          }

          @media (max-width: 767px) {
            height: 44px;
            padding: 8px 20px;
            font-size: 14px;
          }
        }

        .forgotten_password {
          color: $white;
          text-decoration: none;

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }

        input[type="submit"] {
          box-shadow: none;
          border: none;
          padding: 10px 20px;
          font-size: 18px;
          color: $theme-primary-color;
          width: 100%;
          margin-top: 30px;
          border-radius: 12px;
          border: 2px solid $theme-primary-color;
          transition: all 0.5s ease-in-out;

          &:hover {
            border: 2px solid $white;
            color: $white;
            background-color: transparent;
          }

          @media (max-width: 767px) {
            font-size: 14px;
            margin-top: 15px;
          }
        }

        .form_link {
          color: $white;
          margin-top: 15px;
          display: block;
          text-decoration: none;

          @media (max-width: 767px) {
            font-size: 14px;
            margin-top: 5px;
          }
        }
      }
    }

    .login_dashboard {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 70%;
        margin: 0 auto;
        border-radius: 12px;
      }
    }
  }
}

// Main-content
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 271px;
  max-width: calc(100% - 271px);
  min-height: calc(100vh - 82px);
  transition: all 0.5s ease-in-out;
  padding: 36px;
  background-color: #f8fafb;

  &.active {
    margin-left: 93px;
    max-width: calc(100% - 93px);
  }
}

// Signin Page css

.admin_singin_portal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;

  .signin_container {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media screen and (max-width: 991px) {
      flex-direction: column-reverse;
      flex: 0;
    }

    .singin_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 15px 15px;
    }
  }
}

.form_wrapper {
  max-width: 450px;
  width: 100%;

  .form_header {
    margin-bottom: 30px;
    text-align: center;

    .form_title {
      font-family: "Outfit SemiBold";
      font-size: 22px;
      color: $black;
      margin-bottom: 8px;
    }

    .form_sub_title {
      font-size: 14px;
      color: $light-gray-color;
    }
  }

  .singin_link {
    font-size: 14px;
    color: $gray-color;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid $border-color;
    margin-bottom: 5px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  .form_divider {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 30px 0 35px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.5px;
      background-color: $gray-color;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      z-index: -1;
      margin-top: 1px;
      opacity: 0.3;
    }

    span {
      font-size: 14px;
      padding: 0 15px;
      background-color: $white;
      color: $gray-color;
      margin-bottom: 0;
    }
  }

  .forgot-pass-link {
    font-size: 14px;
    color: $theme-primary-color;
    margin-top: 10px;
    text-decoration: none;
    text-align: right;
    display: block;
  }

  .to_be_member_link {
    font-size: 14px;
    color: $gray-color;
    margin-bottom: 0;
    display: block;
    text-align: center;

    a {
      color: $theme-primary-color;
      text-decoration: none;
    }
  }
}

.signin_image_container {
  background-image: url(../images/auth-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .about_company_detail {
    text-align: center;

    .auth_detail_image {
      margin: 50px 0;

      @media screen and (max-width: 991px) {
        display: none;
      }

      img {
        max-width: 60%;
      }
    }

    .auth_detail {
      max-width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 1199px) {
        max-width: 70%;
      }

      @media screen and (max-width: 991px) {
        display: none;
      }

      h4 {
        font-size: 28px;
        font-family: "Outfit SemiBold";
        color: $white;
        margin-bottom: 15px;

        @media screen and (max-width: 1199px) {
          font-size: 24px;
        }
      }

      p {
        font-family: "Outfit Light";
        font-size: 15px;
        color: $white;
        margin-bottom: 0;
        opacity: 0.8;
      }
    }
  }
}

// Settings page Css

.contact_info_form {
  .form-group {
    margin-bottom: 10px;

    input[type=submit] {
      width: auto;
    }

    .map {
      height: 296px;
      width: 100%;
    }
  }

  .form_card {
    border-color: $border-color;

    .card-header {
      border-bottom-color: $border-color;
      background-color: $white;
      padding: 10px 12px;
      color: $gray-color;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        font-size: 12px;
      }

    }

    .card-body {
      padding: 10px 12px;
    }

    .card-footer {
      border-top-color: $border-color;
      background-color: $white;
      padding: 10px 15px;

      .btn {
        min-width: auto;
      }
    }

    .schdeule_list {
      .schedule_time_list {
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        &.edit {
          .schedule_time {
            input[type=time] {
              border: 1px solid #000000;
            }
          }

          .btn-edit {
            display: none;
          }

          .btn-save {
            display: block;
          }
        }

        label {
          min-width: 80px;
          margin-right: 35px;
          font-size: 14px;
          line-height: 17px;
        }

        .schedule_time {
          display: flex;
          margin-right: 10px;

          input[type=time] {
            width: 62px;
            padding: 0;
            height: 26px;
            font-size: 13px;
            border: none;
            padding: 5px;
            width: 73px;

            &::-webkit-calendar-picker-indicator {
              background: none;
              display: none;
            }


          }

          .off_time {
            min-width: 167px;
            text-align: center;
          }
        }

        span.hyphen {
          margin: 0 7px;
        }

        .btn {
          min-width: auto;
          font-size: 14px;
          padding: 0px 16px;
        }

        .btn-save {
          display: none;
        }
      }
    }

    .feature_list {
      li {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 33px;
        }

        label {
          min-width: 120px;
          margin-right: 35px;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

.image_upload {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border: 1px dashed $theme-secodary-color;
  border-radius: 4px;
  min-height: 225px;
  max-height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .upload_image_text {
    img {}

    label {
      font-size: 12px;
      line-height: 14px;
      color: $gray-color;
      margin: 14px 0 0;
    }
  }

  .dragBox {
    input {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
    }
  }

  .image_preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.amenties_feature_model {
  .modal-dialog {
    max-width: 450px;

    .label-form {
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      color: #a4a9bc;
      margin-bottom: 8px;
    }

    input {
      padding: 14px 10px;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      color: #000000;
      background-color: #f9f9f9;
      border-color: transparent;
      -webkit-box-shadow: inset 0px 0px 2px #00000029;
      box-shadow: inset 0px 0px 2px #00000029;
      border-radius: 6px;
    }

    .modal-footer {
      flex-wrap: nowrap;

      button {
        max-width: 200px;
        width: 100%;

      }

      .btn-close {
        height: 36px;
        background-image: none;
        color: #a4a9bc;

        &:hover {
          color: $white;
        }
      }
    }
  }




}

// Courts Page Css
.court-popup {
  .modal {
    border-radius: 12px;

    @media screen and (min-width: 576px) {
      --bs-modal-margin: 154px;
    }

    .modal-dialog {
      max-width: 420px;

      @media screen and (min-width: 576px) {
        margin-right: 21px;
        margin-left: auto;
        margin-bottom: 59px;
      }

      .modal-content {
        border-radius: 12px;

        .modal-header {
          padding: 23px 18px 20px;
          border-bottom: 0.6px solid #e4e4e4;

          .modal-title {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0;
            color: $black;
            font-family: "Outfit Medium";
          }
        }

        .modal-body {
          padding: 20px 18px 24px;

          .label-form {
            font-size: 12px;
            letter-spacing: 0;
            line-height: 15px;
            color: $gray-color;
            margin-bottom: 8px;
          }

          .m-top-15 {
            margin-top: 15px;
          }

          .input {
            padding: 14px 10px;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 15px;
            color: $black;
            background-color: #f9f9f9;
            border-color: transparent;
            box-shadow: inset 0px 0px 2px #00000029;
            border-radius: 6px;
          }

          .styled-select {
            overflow: hidden;
            overflow: -moz-hidden-unscrollable;
            background-image: url(/images/select-arrow.svg);
            background-repeat: no-repeat;
            display: inline-block;
            background-position: right 20px top 18px;
            background-size: 8px;
            position: relative;
          }

          select {
            -webkit-appearance: none;
            appearance: none;
            -moz-appearance: none;

            &:focus {
              outline: none;
            }
          }

          textarea {
            resize: none;
          }

          .swich {
            height: 0px;
            margin-top: -25px;

            input[type="checkbox"] {
              height: 0;
              width: 0;
              visibility: hidden;
            }

            label {
              display: inline-block;
              cursor: pointer;
              text-indent: -9999px;
              width: 16px;
              height: 9px;
              background: $gray-color;
              border-radius: 100px;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 1px;
                left: 1px;
                width: 7px;
                height: 7px;
                background: $white;
                border-radius: 90px;
                transition: 0.3s;
              }
            }

            input:checked+label {
              background: #764af3;
            }

            input:checked+label:after {
              left: calc(100% - 1px);
              transform: translateX(-100%);
            }

            label:active:after {
              width: 7px;
            }
          }

          .mt-10 {
            margin-top: 10px;
          }

          .court-btn {
            button {
              padding: 14px 11px;
              font-size: 12px;
              line-height: 15px;
            }
          }

          .upload-img {
            .upload-picture {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 100%;
              height: 116px;
              background-color: #f9f9f9;
              border-radius: 6px;
              box-shadow: inset 0px 0px 2px #00000029;

              img {
                width: 21px;
              }

              .upload-text {
                margin-top: 6px;
                font-size: 10px;
                color: $black;
                line-height: 13px;
                letter-spacing: 0px;
              }
            }

            input {
              display: none;
            }
          }

          .location {
            width: 100%;
            height: 116px;

            iframe {
              border-radius: 6px;
            }
          }
        }

        .padding-body {
          padding: 10px 18px 16px !important;
        }

        .modal-footer {
          padding: 20px 18px 18px 17px;
          border-top: 0.6px solid #e4e4e4;
          flex-wrap: nowrap;

          button {
            padding: 14px 0px;
            max-width: 180px;
            width: 100%;
            font-size: 12px;
            line-height: 15px;

            &:last-child {
              color: $gray-color;

              &:hover {
                color: $white;
              }
            }
          }
        }

        .padding-footer {
          padding: 16px 18px 18px 14px !important;
        }
      }
    }

    .model-open-margin {
      @media screen and (min-width: 576px) {
        margin-bottom: 38px !important;
      }
    }
  }
}

.court_group {
  display: flex;
  max-width: 80px;
  justify-content: space-between;

  .material-symbols-outlined {
    color: #dc3545;
  }
}

// Pricing Page Css
.pricing-page {
  table {
    thead {
      tr {
        th {
          padding: 15px 10px 16px 15px;
          font-size: 14px;
          border-right: 0.5px solid #A4A9BC;
          width: 25%;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 160px;
          overflow-x: hidden;

          @media (max-width: 1024px) {
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 160px;
            overflow-x: hidden;
          }

          &:nth-child(2) {
            background-color: #cff5e5;
          }

          &:nth-child(3) {
            background-color: #d2e6ff;
          }

          &:nth-child(4) {
            border-right: none;
            background-color: #dcd1fc;
          }

          .pricing-title {
            letter-spacing: 0px;
            font-family: "Outfit SemiBold";
          }

          .edit-button {
            float: right;

            a {
              background-color: $white;
              padding: 1px 6px 5px 6px;
              border-radius: 4px;

              img {
                width: 10px;
              }
            }
          }

          .swich-year {
            margin-top: 15px;
            display: flex;

            @media (max-width: 1024px) {
              margin-top: 8px;
            }

            .swich {
              margin: 0 16px 0 10px;

              input[type="checkbox"] {
                height: 0;
                width: 0;
                visibility: hidden;
              }

              label {
                display: inline-block;
                cursor: pointer;
                text-indent: -9999px;
                width: 16px;
                height: 9px;
                background: $gray-color;
                border-radius: 100px;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  top: 1px;
                  left: 1px;
                  width: 7px;
                  height: 7px;
                  background: $white;
                  border-radius: 90px;
                  transition: 0.3s;
                }
              }

              input:checked+label {
                background: #764af3;
              }

              input:checked+label:after {
                left: calc(100% - 1px);
                transform: translateX(-100%);
              }

              label:active:after {
                width: 7px;
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $white;
        }

        td {
          border-right: 0.5px solid #A4A9BC;
          text-align: center;
          padding: 15px 20px 0 20px;

          @media (max-width: 1024px) {
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 160px;
            overflow-x: hidden;
            padding: 8px 20px 5px 20px;
          }

          &:first-child {
            text-align: left;
            color: $gray-color;
          }

          &:last-child {
            border-right: none;
          }

          .modules {
            font-family: "Outfit SemiBold" !important;
            color: $black;
          }

          .check-icon {
            padding: 0px 4px 3px 4px;
            background-color: #764af3;
            border-radius: 50%;

            @media (max-width:1024px) {
              padding: 0px 3px 3px 3px;
            }

            img {
              width: 14px;

              @media (max-width:1024px) {
                width: 12px;
              }
            }
          }
        }
      }
    }
  }
}


// Admin Page Css
.admin-page-table {
  table {
    min-height: 115px;

    tr {

      td:last-child,
      th:last-child {
        width: 75px;
      }
    }

    .dropdown-toggle {
      padding: 0;
      border: none;
      min-width: 15px;

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      padding: 1px 0;
      min-width: 60px;

      li {
        &:not(:last-child) {
          border-bottom: 0.5px solid #0000001c;
        }
      }
    }
  }
}

.setting_popup {
  .modal-dialog {
    max-width: 419px;
    width: 100%;
    margin-right: 35px;
    margin-left: auto;
    margin-bottom: 186px;
  }

  .modal-body {
    padding: 20px 18px 24px;

    .label-form {
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      color: $gray-color;
      margin-bottom: 8px;
    }

    .m-top-15 {
      margin-top: 15px;
    }

    .input {
      padding: 14px 10px;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      color: $black;
      background-color: #f9f9f9;
      border-color: transparent;
      box-shadow: inset 0px 0px 2px #00000029;
      border-radius: 6px;
    }

    .radio_box {
      padding: 15px 9px;
      background-color: $theme-secodary-color;
      border-radius: 8px;
      display: flex;
      align-items: center;

      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
      }

      [type="radio"]:checked+label,
      [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        flex: 1;
        display: inline-block;
        color: #000000;
      }

      [type="radio"]:checked+label:before,
      [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
      }

      [type="radio"]:checked+label:after,
      [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: $theme-primary-color;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }

      [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      .form-check-label {
        font-size: 12px;
        color: $black;
      }
    }

    .admin_popup_table {
      background: #F9F9F9;
      box-shadow: inset 0px 0px 2px #00000029;
      border-radius: 6px;
      padding-bottom: 10px;

      table {
        width: 100%;
        margin-bottom: 5px;

        td,
        th {
          padding: 3px 9px;

          &:nth-child(1) {
            width: 58%;
          }

          &:nth-child(2),
          &:nth-child(3) {
            width: 21%;
          }
        }

        .form-check {
          display: inline-flex;
          align-items: center;

          .form-check-input {
            padding: 4px;
            width: 11px;
            height: 11px;
            margin-right: 5px;
            margin-top: 0;
          }

          .form-check-label {
            font-size: 8px;
            font-family: 'Outfit Regular';
            line-height: 10px;
            color: $black;
          }
        }

        thead {
          border-bottom: 1px solid #E4E4E4;

          tr {
            th {
              .feature_head {
                font-size: 10px;
                font-family: 'Outfit Regular';
                color: $black;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              .feature_head {
                font-size: 12px;
                font-family: 'Outfit Regular';
              }

              .form-check {
                .form-check-input {
                  width: 13px;
                  height: 13px;
                }
              }
            }
          }
        }
      }
    }

    .btn-close {
      background: none;
    }

    .styled-select {
      overflow: hidden;
      overflow: -moz-hidden-unscrollable;
      background-image: url(/images/select-arrow.svg);
      background-repeat: no-repeat;
      display: inline-block;
      background-position: right 20px top 18px;
      background-size: 8px;
      position: relative;
    }

    select {
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;

      &:focus {
        outline: none;
      }
    }

    textarea {
      resize: none;
    }

    .switch {
      height: 0px;
      margin-top: -25px;

      input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      label {
        display: inline-block;
        cursor: pointer;
        text-indent: -9999px;
        width: 16px;
        height: 9px;
        background: $gray-color;
        border-radius: 100px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 7px;
          height: 7px;
          background: $white;
          border-radius: 90px;
          transition: 0.3s;
        }
      }

      input:checked+label {
        background: #764af3;
      }

      input:checked+label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 7px;
      }
    }

    .mt-10 {
      margin-top: 10px;
    }

    .court-btn {
      button {
        padding: 14px 11px;
        font-size: 12px;
        line-height: 15px;
      }
    }

  }

  .modal-footer {
    padding: 20px 18px 18px 17px;
    border-top: 0.6px solid #e4e4e4;
    flex-wrap: nowrap;

    button {
      padding: 14px 0px;
      max-width: 180px;
      width: 100%;
      font-size: 12px;
      line-height: 15px;

      &:last-child {
        color: $gray-color;
        background-image: none;
        padding: 16px 0;

        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }
}

// delete model
.delete_model {
  .modal-body {
    padding: 30px;

    .modal-title {
      font-size: 18px;
    }
  }

  .button {
    padding: 8px 16px;
  }
}