$theme-primary-color: #011945;
$theme-secodary-color: #f4ec7e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "";
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}
