.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit Regular";
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: #764af3;
  text-decoration: none;
}

a.text-info {
  color: #4e9afe !important;
}

.cursor-pointer {
  cursor: pointer;
}

p {
  color: #000000;
  font-family: "Outfit Regular";
}

img,
audio,
video,
iframe {
  max-width: 100%;
}

input,
textarea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #00000029;
  border-radius: 6px;
  padding: 12px 15px;
  width: 100%;
  font-size: 14px;
  font-family: "Outfit regular";
  line-height: 15px;
  color: #000000;
}

input::-webkit-input-placeholder, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a4a9bc;
  opacity: 0.6;
}

input::placeholder, input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder {
  color: #a4a9bc;
  opacity: 0.6;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="checkbox"], input[type="radio"],
textarea[type="checkbox"],
textarea[type="radio"] {
  width: inherit;
}

.radius-rounded {
  border-radius: 9999px;
}

.form-group {
  margin-bottom: 30px;
}

.text-muted {
  color: #a4a9bc !important;
}

.btn {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 21px;
  min-width: 100px;
}

:not(.btn-check) + .btn:active {
  border-color: transparent;
}

.btn-sm {
  padding: 6px 18px;
}

.btn-primary {
  background-color: #764af3;
  border-color: #764af3;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:disabled {
  background-color: #a98ff1;
  border-color: #a98ff1;
}

.btn-secondary {
  background-color: #ececec;
  border-color: #ececec;
  color: #000000;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:disabled {
  background-color: #a98ff1;
  border-color: #a98ff1;
}

.select2-container {
  width: 100% !important;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  -webkit-box-shadow: inset 0px 0px 2px #00000029 !important;
  box-shadow: inset 0px 0px 2px #00000029 !important;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.select2-selection {
  width: 100% !important;
  padding: 9px 10px;
  font-size: 12px;
  border: none !important;
  height: 45px !important;
  background: #F9F9F9 0% 0% no-repeat padding-box !important;
  -webkit-box-shadow: inset 0px 0px 2px #00000029 !important;
  box-shadow: inset 0px 0px 2px #00000029 !important;
  border-radius: 6px !important;
  background-color: #f9f9f9 !important;
}

.select2-selection .select2-selection__arrow {
  top: 10px !important;
}

.select2-container {
  z-index: 111111;
}

.btn-info {
  background-color: #4e9afe;
  border-color: #4e9afe;
  color: #ffffff;
}

.btn-info:hover, .btn-info:active, .btn-info:disabled {
  background-color: #a98ff1;
  border-color: #a98ff1;
  color: #ffffff;
}

.custom_checkbox {
  position: relative;
  display: inline-block;
}

.custom_checkbox input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.custom_checkbox input:checked ~ p::after {
  background-color: #764af3;
  border-color: #764af3;
}

.custom_checkbox input:checked ~ p::before {
  opacity: 1;
}

.custom_checkbox p {
  font-size: 14px;
  color: #a4a9bc;
  position: relative;
  margin-bottom: 0;
  padding-left: 22px;
}

.custom_checkbox p::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #a4a9bc;
  border-radius: 3px;
  left: 0;
  top: 2px;
}

.custom_checkbox p::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 3px;
  width: 9px;
  height: 5px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
  opacity: 0;
}

.custom_checkbox a {
  position: relative;
  z-index: 2;
}

.custom_radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom_radio input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.custom_radio input:checked ~ p::after {
  background-color: #764af3;
  border-color: #764af3;
}

.custom_radio input:checked ~ p::before {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.custom_radio p {
  font-size: 14px;
  color: #a4a9bc;
  position: relative;
  margin-bottom: 0;
  padding-left: 22px;
}

.custom_radio p::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 100%;
  left: 0;
  top: 2px;
}

.custom_radio p::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 5px;
  width: 9px;
  height: 5px;
  border-left: 2px solid #a4a9bc;
  border-bottom: 2px solid #a4a9bc;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.custom_radio a {
  position: relative;
  z-index: 2;
}

.page-title {
  font-size: 16px;
  font-family: "Outfit SemiBold";
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.alert_modal .modal-dialog {
  max-width: 400px;
}

.alert_modal .modal-dialog .modal-content {
  border: 0;
  padding: 20px;
  min-height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert_modal .modal-dialog .modal-content .modal-header {
  border: 0;
  padding-bottom: 0;
}

.alert_modal .modal-dialog .modal-content .modal-body {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.alert_modal .modal-dialog .modal-content .modal-footer {
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table thead tr {
  background-color: rgba(118, 74, 243, 0.1);
  -webkit-box-shadow: 0px 3px 8px #0000000f;
          box-shadow: 0px 3px 8px #0000000f;
}

.table thead tr th {
  padding: 18px 17px;
  border: 0;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.table tbody tr {
  background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(236, 236, 236, 0.1);
}

.table tbody tr td {
  border: 0;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 20px;
  vertical-align: middle;
  color: #000000;
}

@media (max-width: 1024px) {
  .table tbody tr td {
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
  }
}

.table tbody tr td .long_content {
  margin-bottom: 0;
  max-width: 70%;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 271px;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 40px);
  padding: 30px 25px;
  color: #ffffff;
  background-color: #764af3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sidebar .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.sidebar .logo-wrapper .brand-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .logo-wrapper .brand-row span {
  font-size: 24px;
  margin-left: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .profile-dropdown .profile.show {
  background-color: #ffffff;
}

.sidebar .profile-dropdown .profile.show .user_name {
  color: #764af3 !important;
}

.sidebar .profile-dropdown .profile.show::after {
  color: #764af3 !important;
}

.sidebar .profile-dropdown.active .profile {
  background-color: #ffffff;
  min-width: 40px;
}

.sidebar .profile-dropdown.active .profile .user_name {
  color: #764af3 !important;
}

.sidebar .profile-dropdown.active .profile::after {
  color: #764af3 !important;
}

.sidebar .profile-dropdown.active .dropdown-menu {
  left: 0;
  min-width: 44px;
}

.sidebar .profile-dropdown .profile {
  padding: 9px 24px;
  text-align: left;
  margin-bottom: 15px;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .profile-dropdown .profile .profile_image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.sidebar .profile-dropdown .profile .user_name {
  margin-left: 10px;
  font-family: "Outfit Medium";
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .profile-dropdown .profile::after {
  position: absolute;
  right: 12px;
  top: 20px;
  margin-left: 150px;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .profile-dropdown .dropdown-menu {
  border-radius: 8px;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.sidebar .profile-dropdown .dropdown-menu[data-bs-popper] {
  top: 80%;
}

.sidebar .profile-dropdown .dropdown-menu .dropdown-item {
  font-family: "Outfit Medium";
  font-size: 14px;
}

.sidebar .profile-dropdown .dropdown-menu .dropdown-item:hover {
  color: #764af3;
  background-color: #ececec;
}

.sidebar .profile-dropdown .dropdown-menu .dropdown-item.active {
  color: #764af3;
  background-color: #ececec;
}

.sidebar .profile-dropdown .show {
  width: 100%;
}

.sidebar .features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.sidebar .features-list .features-item {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 15px;
}

.sidebar .features-list .features-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 9px 24px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .features-list .features-item a svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

.sidebar .features-list .features-item a:hover {
  background-color: #a98ff1;
  border: 1px solid #a98ff1;
}

.sidebar .features-list .features-item a:hover .right-arrow {
  opacity: 1;
}

.sidebar .features-list .features-item a.active {
  background-color: #ffffff;
  color: #764af3;
}

.sidebar .features-list .features-item a.active .feature-number {
  color: #ffffff;
  background-color: #764af3;
}

.sidebar .features-list .features-item a .feature-text {
  font-family: "Outfit Medium";
  margin-left: 14px;
  font-size: 12px;
  line-height: 24px;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .features-list .features-item a .right-arrow {
  position: absolute;
  top: 7px;
  right: 18px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar .features-list .features-item a .right-arrow img {
  width: 13px;
}

.sidebar .features-list .features-item a .feature-number {
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 12px;
  background-color: #ffffff;
  color: #764af3;
  border-radius: 5px;
  margin-left: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .features-list .features-item a .feature-collapse-number {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .footer-feature-list {
  margin-top: 51px;
}

.sidebar .footer-bottom {
  font-size: 10px;
  padding: 8px 19px;
  white-space: nowrap;
  color: #ccbcfb;
}

.sidebar.active {
  width: 93px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar.active .logo-wrapper .brand-row {
  padding-right: 0;
  padding-left: 11px;
}

.sidebar.active .logo-wrapper span {
  visibility: hidden;
  opacity: 0;
}

.sidebar.active .profile-dropdown .profile {
  padding: 9px 10px;
}

.sidebar.active .profile-dropdown .profile::after {
  visibility: hidden;
}

.sidebar.active .profile-dropdown .user_name {
  visibility: hidden;
  opacity: 0;
}

.sidebar.active .features-list .features-item a {
  min-width: 44px;
  padding: 9px 10px;
}

.sidebar.active .features-list .features-item a:hover .right-arrow {
  opacity: 0;
  visibility: hidden;
}

.sidebar.active .features-list .features-item a .feature-text {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}

.sidebar.active .features-list .features-item a .feature-collapse-number {
  font-family: "Outfit SemiBold";
  font-size: 7px;
  line-height: 13px !important;
  top: 4px;
  left: 24px;
  position: absolute;
  width: 13px;
  background-color: #ffffff;
  color: #764af3;
  text-align: center;
  line-height: 12px;
  height: 13px;
  border-radius: 50%;
  visibility: visible;
  opacity: 1;
}

.sidebar.active .features-list .features-item a.active .feature-collapse-number {
  background-color: #764af3;
  color: #ffffff;
}

.sidebar.active .footer-bottom {
  visibility: hidden;
  opacity: 0.65;
}

header {
  position: relative;
  margin-left: 271px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100% - 271px);
  height: auto;
  z-index: 3;
  margin-left: 271px;
}

header .navbar {
  padding: 19px 30px;
  background: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .navbar_menu {
  margin-left: 42px;
}

header .navbar .navbar_menu .navbar-nav {
  border-bottom: none;
}

header .navbar .navbar_menu .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 0 26px;
  border: none;
}

header .navbar .navbar_menu .navbar-nav .nav-item .nav-link.active {
  color: #764af3;
  border: none;
}

header .navbar .navbar_menu .navbar-nav .nav-item .nav-link.active::before {
  position: absolute;
  content: "";
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 4px;
  background-color: #764af3;
  bottom: -29px;
}

@media (max-width: 991px) {
  header .navbar .navbar_menu .navbar-nav .nav-item .nav-link.active::before {
    display: none;
  }
}

header .navbar .navbar_menu .navbar-nav .nav-item .nav-link:hover {
  color: #a98ff1;
}

@media (max-width: 1024px) {
  header .navbar .navbar_menu .navbar-nav .nav-item .nav-link {
    padding: 0 16px;
  }
}

header .navbar .side-nav-btn {
  margin-left: -37px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 35px;
  height: 14px;
  border-radius: 50%;
  z-index: 1200;
  border: none;
  margin-bottom: 0;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

header .navbar .side-nav-btn img {
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7px;
          flex: 0 0 7px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

header .navbar .search_group {
  border-radius: 23px;
  overflow: hidden;
  max-width: 248px;
  width: 100%;
}

header .navbar .search_group input[type="search"] {
  border: none;
  padding: 10px 0 10px 26px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #a4a9bc;
  font-family: "Outfit Regular";
  background-color: #f8fafb;
  font-size: 14px;
}

header .navbar .search_group .btn {
  border: none;
  padding: 14px 18px;
  background-color: #f8fafb;
}

@media (max-width: 767px) {
  header .navbar .search_group {
    display: none;
  }
}

header .navbar .nav-right .btn-group {
  position: relative;
}

header .navbar .nav-right .btn-group .notification-btn {
  padding: 0px;
  margin-right: 10px;
  border: none;
  min-width: 42px;
  width: 42px;
  height: 42px;
}

header .navbar .nav-right .btn-group .notification-btn img {
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  color: #764af3;
  border-radius: 50%;
  background-color: #EFEFEF;
}

header .navbar .nav-right .btn-group .notification-btn.collapsed img {
  background-color: #ffffff;
}

header .navbar .nav-right .btn-group .notification_menu {
  position: absolute;
  left: -123px;
  right: 0;
  top: 50px;
  width: 100%;
  height: auto;
  z-index: 9;
  background-color: #ffffff;
  min-width: 290px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .nav-right .btn-group .notification_menu::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0px;
  right: 0;
  width: 5px;
  margin: 0 auto;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

header .navbar .nav-right .btn-group .notification_menu .card-body {
  border: none;
  padding: 0;
}

@media (max-width: 1200px) {
  header .navbar .nav-right .btn-group .notification_menu {
    left: -210px;
  }
}

header .navbar .nav-right .btn-group p.head {
  font-size: 18px;
  padding: 16px 12px 0;
  margin-bottom: 0;
}

header .navbar .nav-right .btn-group .nav-tabs {
  padding-bottom: 10px;
  padding: 15px 12px;
}

header .navbar .nav-right .btn-group .nav-tabs .nav-link {
  padding: 8px;
  color: #a4a9bc;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  line-height: 12px;
  font-family: "Outfit Regular";
}

header .navbar .nav-right .btn-group .nav-tabs .active {
  color: #764af3;
  background-color: #ececec;
}

header .navbar .nav-right .btn-group .tab-content {
  padding: 15px 12px;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li:not(:last-child) {
  margin-bottom: 7px;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items .profile {
  position: relative;
  width: 42px;
  height: 42px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42px;
          flex: 0 0 42px;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items .profile .user_profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items .profile .user_badge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #764af3;
  border-radius: 50%;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items .item_details {
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items .item_details p {
  font-size: 10px;
  font-family: "Outfit Regular";
  margin-bottom: 5px;
}

header .navbar .nav-right .btn-group .tab-content .notification-list li .items .item_details span {
  font-size: 8px;
  font-family: "Outfit Regular";
  color: #a4a9bc;
}

header .navbar .nav-right .btn-group .tab-content .see_all_btn {
  display: block;
  color: #764af3;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

header .navbar .nav-right .btn-group .dropdown-menu {
  width: 100%;
}

header .navbar .nav-right .btn-group .profile-dropdown {
  padding: 7px 10px;
  border-radius: 23px;
  color: #764af3;
  border: 1px solid #764af3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  header .navbar .nav-right .btn-group .profile-dropdown {
    padding: 5px;
    min-width: 40px;
  }
}

header .navbar .nav-right .btn-group .profile-dropdown .profile_image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  outline: 1px solid #764af3;
}

header .navbar .nav-right .btn-group .profile-dropdown span {
  margin-left: 10px;
  text-transform: capitalize;
}

@media (max-width: 1200px) {
  header .navbar .nav-right .btn-group .profile-dropdown span {
    display: none;
  }
}

header .navbar .nav-right .btn-group .profile-dropdown::after {
  margin-left: 14px;
  margin-right: 18px;
}

@media (max-width: 1200px) {
  header .navbar .nav-right .btn-group .profile-dropdown::after {
    display: none;
  }
}

@media (max-width: 991px) {
  header .navbar .nav-right {
    margin-left: auto;
    margin-right: 22px;
  }
}

header.active {
  margin-left: 93px;
}

header.active.fixed-header {
  width: calc(100% - 93px);
  margin-left: 93px;
}

header.active .side-nav-btn {
  margin-left: -39px;
}

header.active .side-nav-btn img {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.admin_signin {
  background-color: #ececec;
  min-height: 100vh;
  padding: 60px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .admin_signin {
    padding: 20px 15px;
  }
}

.admin_signin .admin_container {
  background-color: #ffffff;
  border-radius: 23px;
}

.admin_signin .admin_container .login_panel {
  padding: 50px 80px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #764af3;
  min-height: calc(100vh - 120px);
}

@media (max-width: 991px) {
  .admin_signin .admin_container .login_panel {
    border-radius: 23px;
    padding: 30px 35px;
    min-height: auto;
  }
}

@media (max-width: 375px) {
  .admin_signin .admin_container .login_panel {
    padding: 30px;
  }
}

.admin_signin .admin_container .login_panel .brand img:nth-child(2) {
  margin-left: 8px;
}

.admin_signin .admin_container .login_panel .login_form {
  max-width: 500px;
  margin: 70px auto;
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form {
    margin: 70px auto 30px;
  }
}

@media (max-width: 375px) {
  .admin_signin .admin_container .login_panel .login_form {
    margin: 40px auto 30px;
  }
}

.admin_signin .admin_container .login_panel .login_form .heading {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Outfit Medium";
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form .heading {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.admin_signin .admin_container .login_panel .login_form .details {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 26px;
  margin-left: -12px;
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form .details {
    font-size: 14px;
  }
}

.admin_signin .admin_container .login_panel .login_form label {
  color: #ffffff;
  vertical-align: middle;
  font-size: 15px;
  padding: 0;
  margin-bottom: 3px;
}

.admin_signin .admin_container .login_panel .login_form input {
  border-radius: 8px;
  height: 52px;
  padding: 15px 35px;
  vertical-align: middle;
  color: #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
          box-shadow: inset 0 0 2px #000000;
  border: none;
  padding: 10px 0 10px 26px;
  font-family: "Outfit Regular";
  background-color: #f8fafb;
  font-size: 16px;
}

.admin_signin .admin_container .login_panel .login_form input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form input {
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
  }
}

.admin_signin .admin_container .login_panel .login_form .forgotten_password {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form .forgotten_password {
    font-size: 14px;
  }
}

.admin_signin .admin_container .login_panel .login_form input[type="submit"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  color: #764af3;
  width: 100%;
  margin-top: 30px;
  border-radius: 12px;
  border: 2px solid #764af3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.admin_signin .admin_container .login_panel .login_form input[type="submit"]:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form input[type="submit"] {
    font-size: 14px;
    margin-top: 15px;
  }
}

.admin_signin .admin_container .login_panel .login_form .form_link {
  color: #ffffff;
  margin-top: 15px;
  display: block;
  text-decoration: none;
}

@media (max-width: 767px) {
  .admin_signin .admin_container .login_panel .login_form .form_link {
    font-size: 14px;
    margin-top: 5px;
  }
}

.admin_signin .admin_container .login_dashboard {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin_signin .admin_container .login_dashboard img {
  width: 70%;
  margin: 0 auto;
  border-radius: 12px;
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 271px;
  max-width: calc(100% - 271px);
  min-height: calc(100vh - 82px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 36px;
  background-color: #f8fafb;
}

.main-content.active {
  margin-left: 93px;
  max-width: calc(100% - 93px);
}

.admin_singin_portal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.admin_singin_portal .signin_container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 991px) {
  .admin_singin_portal .signin_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.admin_singin_portal .signin_container .singin_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px;
}

.form_wrapper {
  max-width: 450px;
  width: 100%;
}

.form_wrapper .form_header {
  margin-bottom: 30px;
  text-align: center;
}

.form_wrapper .form_header .form_title {
  font-family: "Outfit SemiBold";
  font-size: 22px;
  color: #000000;
  margin-bottom: 8px;
}

.form_wrapper .form_header .form_sub_title {
  font-size: 14px;
  color: #a1a5b7;
}

.form_wrapper .singin_link {
  font-size: 14px;
  color: #a4a9bc;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: 1px solid #00000029;
  margin-bottom: 5px;
}

.form_wrapper .singin_link img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.form_wrapper .form_divider {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 30px 0 35px;
}

.form_wrapper .form_divider::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #a4a9bc;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: -1;
  margin-top: 1px;
  opacity: 0.3;
}

.form_wrapper .form_divider span {
  font-size: 14px;
  padding: 0 15px;
  background-color: #ffffff;
  color: #a4a9bc;
  margin-bottom: 0;
}

.form_wrapper .forgot-pass-link {
  font-size: 14px;
  color: #764af3;
  margin-top: 10px;
  text-decoration: none;
  text-align: right;
  display: block;
}

.form_wrapper .to_be_member_link {
  font-size: 14px;
  color: #a4a9bc;
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.form_wrapper .to_be_member_link a {
  color: #764af3;
  text-decoration: none;
}

.signin_image_container {
  background-image: url(../images/auth-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.signin_image_container .about_company_detail {
  text-align: center;
}

.signin_image_container .about_company_detail .auth_detail_image {
  margin: 50px 0;
}

@media screen and (max-width: 991px) {
  .signin_image_container .about_company_detail .auth_detail_image {
    display: none;
  }
}

.signin_image_container .about_company_detail .auth_detail_image img {
  max-width: 60%;
}

.signin_image_container .about_company_detail .auth_detail {
  max-width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .signin_image_container .about_company_detail .auth_detail {
    max-width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .signin_image_container .about_company_detail .auth_detail {
    display: none;
  }
}

.signin_image_container .about_company_detail .auth_detail h4 {
  font-size: 28px;
  font-family: "Outfit SemiBold";
  color: #ffffff;
  margin-bottom: 15px;
}

@media screen and (max-width: 1199px) {
  .signin_image_container .about_company_detail .auth_detail h4 {
    font-size: 24px;
  }
}

.signin_image_container .about_company_detail .auth_detail p {
  font-family: "Outfit Light";
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 0;
  opacity: 0.8;
}

.contact_info_form .form-group {
  margin-bottom: 10px;
}

.contact_info_form .form-group input[type=submit] {
  width: auto;
}

.contact_info_form .form-group .map {
  height: 296px;
  width: 100%;
}

.contact_info_form .form_card {
  border-color: #00000029;
}

.contact_info_form .form_card .card-header {
  border-bottom-color: #00000029;
  background-color: #ffffff;
  padding: 10px 12px;
  color: #a4a9bc;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_info_form .form_card .card-header a {
  font-size: 12px;
}

.contact_info_form .form_card .card-body {
  padding: 10px 12px;
}

.contact_info_form .form_card .card-footer {
  border-top-color: #00000029;
  background-color: #ffffff;
  padding: 10px 15px;
}

.contact_info_form .form_card .card-footer .btn {
  min-width: auto;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list:last-child {
  margin-bottom: 0;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list.edit .schedule_time input[type=time] {
  border: 1px solid #000000;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list.edit .btn-edit {
  display: none;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list.edit .btn-save {
  display: block;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list label {
  min-width: 80px;
  margin-right: 35px;
  font-size: 14px;
  line-height: 17px;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list .schedule_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list .schedule_time input[type=time] {
  width: 62px;
  padding: 0;
  height: 26px;
  font-size: 13px;
  border: none;
  padding: 5px;
  width: 73px;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list .schedule_time input[type=time]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list .schedule_time .off_time {
  min-width: 167px;
  text-align: center;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list span.hyphen {
  margin: 0 7px;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list .btn {
  min-width: auto;
  font-size: 14px;
  padding: 0px 16px;
}

.contact_info_form .form_card .schdeule_list .schedule_time_list .btn-save {
  display: none;
}

.contact_info_form .form_card .feature_list li {
  margin-bottom: 18px;
}

.contact_info_form .form_card .feature_list li:last-child {
  margin-bottom: 33px;
}

.contact_info_form .form_card .feature_list li label {
  min-width: 120px;
  margin-right: 35px;
  font-size: 14px;
  line-height: 17px;
}

.image_upload {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border: 1px dashed #ececec;
  border-radius: 4px;
  min-height: 225px;
  max-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.image_upload .upload_image_text label {
  font-size: 12px;
  line-height: 14px;
  color: #a4a9bc;
  margin: 14px 0 0;
}

.image_upload .dragBox input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.image_upload .image_preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.image_upload .image_preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.amenties_feature_model .modal-dialog {
  max-width: 450px;
}

.amenties_feature_model .modal-dialog .label-form {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  color: #a4a9bc;
  margin-bottom: 8px;
}

.amenties_feature_model .modal-dialog input {
  padding: 14px 10px;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  color: #000000;
  background-color: #f9f9f9;
  border-color: transparent;
  -webkit-box-shadow: inset 0px 0px 2px #00000029;
  box-shadow: inset 0px 0px 2px #00000029;
  border-radius: 6px;
}

.amenties_feature_model .modal-dialog .modal-footer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.amenties_feature_model .modal-dialog .modal-footer button {
  max-width: 200px;
  width: 100%;
}

.amenties_feature_model .modal-dialog .modal-footer .btn-close {
  height: 36px;
  background-image: none;
  color: #a4a9bc;
}

.amenties_feature_model .modal-dialog .modal-footer .btn-close:hover {
  color: #ffffff;
}

.court-popup .modal {
  border-radius: 12px;
}

@media screen and (min-width: 576px) {
  .court-popup .modal {
    --bs-modal-margin: 154px;
  }
}

.court-popup .modal .modal-dialog {
  max-width: 420px;
}

@media screen and (min-width: 576px) {
  .court-popup .modal .modal-dialog {
    margin-right: 21px;
    margin-left: auto;
    margin-bottom: 59px;
  }
}

.court-popup .modal .modal-dialog .modal-content {
  border-radius: 12px;
}

.court-popup .modal .modal-dialog .modal-content .modal-header {
  padding: 23px 18px 20px;
  border-bottom: 0.6px solid #e4e4e4;
}

.court-popup .modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000000;
  font-family: "Outfit Medium";
}

.court-popup .modal .modal-dialog .modal-content .modal-body {
  padding: 20px 18px 24px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .label-form {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  color: #a4a9bc;
  margin-bottom: 8px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .m-top-15 {
  margin-top: 15px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .input {
  padding: 14px 10px;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  color: #000000;
  background-color: #f9f9f9;
  border-color: transparent;
  -webkit-box-shadow: inset 0px 0px 2px #00000029;
          box-shadow: inset 0px 0px 2px #00000029;
  border-radius: 6px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .styled-select {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background-image: url(/images/select-arrow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right 20px top 18px;
  background-size: 8px;
  position: relative;
}

.court-popup .modal .modal-dialog .modal-content .modal-body select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.court-popup .modal .modal-dialog .modal-content .modal-body select:focus {
  outline: none;
}

.court-popup .modal .modal-dialog .modal-content .modal-body textarea {
  resize: none;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich {
  height: 0px;
  margin-top: -25px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich label {
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
  width: 16px;
  height: 9px;
  background: #a4a9bc;
  border-radius: 100px;
  position: relative;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich input:checked + label {
  background: #764af3;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich input:checked + label:after {
  left: calc(100% - 1px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.court-popup .modal .modal-dialog .modal-content .modal-body .swich label:active:after {
  width: 7px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .mt-10 {
  margin-top: 10px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .court-btn button {
  padding: 14px 11px;
  font-size: 12px;
  line-height: 15px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .upload-img .upload-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 116px;
  background-color: #f9f9f9;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 2px #00000029;
          box-shadow: inset 0px 0px 2px #00000029;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .upload-img .upload-picture img {
  width: 21px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .upload-img .upload-picture .upload-text {
  margin-top: 6px;
  font-size: 10px;
  color: #000000;
  line-height: 13px;
  letter-spacing: 0px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .upload-img input {
  display: none;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .location {
  width: 100%;
  height: 116px;
}

.court-popup .modal .modal-dialog .modal-content .modal-body .location iframe {
  border-radius: 6px;
}

.court-popup .modal .modal-dialog .modal-content .padding-body {
  padding: 10px 18px 16px !important;
}

.court-popup .modal .modal-dialog .modal-content .modal-footer {
  padding: 20px 18px 18px 17px;
  border-top: 0.6px solid #e4e4e4;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.court-popup .modal .modal-dialog .modal-content .modal-footer button {
  padding: 14px 0px;
  max-width: 180px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
}

.court-popup .modal .modal-dialog .modal-content .modal-footer button:last-child {
  color: #a4a9bc;
}

.court-popup .modal .modal-dialog .modal-content .modal-footer button:last-child:hover {
  color: #ffffff;
}

.court-popup .modal .modal-dialog .modal-content .padding-footer {
  padding: 16px 18px 18px 14px !important;
}

@media screen and (min-width: 576px) {
  .court-popup .modal .model-open-margin {
    margin-bottom: 38px !important;
  }
}

.pricing-page table thead tr th {
  padding: 15px 10px 16px 15px;
  font-size: 14px;
  border-right: 0.5px solid #A4A9BC;
  width: 25%;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .pricing-page table thead tr th {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    overflow-x: hidden;
  }
}

.pricing-page table thead tr th:nth-child(2) {
  background-color: #cff5e5;
}

.pricing-page table thead tr th:nth-child(3) {
  background-color: #d2e6ff;
}

.pricing-page table thead tr th:nth-child(4) {
  border-right: none;
  background-color: #dcd1fc;
}

.pricing-page table thead tr th .pricing-title {
  letter-spacing: 0px;
  font-family: "Outfit SemiBold";
}

.pricing-page table thead tr th .edit-button {
  float: right;
}

.pricing-page table thead tr th .edit-button a {
  background-color: #ffffff;
  padding: 1px 6px 5px 6px;
  border-radius: 4px;
}

.pricing-page table thead tr th .edit-button a img {
  width: 10px;
}

.pricing-page table thead tr th .swich-year {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .pricing-page table thead tr th .swich-year {
    margin-top: 8px;
  }
}

.pricing-page table thead tr th .swich-year .swich {
  margin: 0 16px 0 10px;
}

.pricing-page table thead tr th .swich-year .swich input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.pricing-page table thead tr th .swich-year .swich label {
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
  width: 16px;
  height: 9px;
  background: #a4a9bc;
  border-radius: 100px;
  position: relative;
}

.pricing-page table thead tr th .swich-year .swich label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing-page table thead tr th .swich-year .swich input:checked + label {
  background: #764af3;
}

.pricing-page table thead tr th .swich-year .swich input:checked + label:after {
  left: calc(100% - 1px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.pricing-page table thead tr th .swich-year .swich label:active:after {
  width: 7px;
}

.pricing-page table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.pricing-page table tbody tr td {
  border-right: 0.5px solid #A4A9BC;
  text-align: center;
  padding: 15px 20px 0 20px;
}

@media (max-width: 1024px) {
  .pricing-page table tbody tr td {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    overflow-x: hidden;
    padding: 8px 20px 5px 20px;
  }
}

.pricing-page table tbody tr td:first-child {
  text-align: left;
  color: #a4a9bc;
}

.pricing-page table tbody tr td:last-child {
  border-right: none;
}

.pricing-page table tbody tr td .modules {
  font-family: "Outfit SemiBold" !important;
  color: #000000;
}

.pricing-page table tbody tr td .check-icon {
  padding: 0px 4px 3px 4px;
  background-color: #764af3;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .pricing-page table tbody tr td .check-icon {
    padding: 0px 3px 3px 3px;
  }
}

.pricing-page table tbody tr td .check-icon img {
  width: 14px;
}

@media (max-width: 1024px) {
  .pricing-page table tbody tr td .check-icon img {
    width: 12px;
  }
}

.admin-page-table table tr td:last-child,
.admin-page-table table tr th:last-child {
  width: 75px;
}

.admin-page-table table .dropdown-toggle {
  padding: 0;
  border: none;
  min-width: 15px;
}

.admin-page-table table .dropdown-toggle::after {
  display: none;
}

.setting_popup .modal-dialog {
  max-width: 419px;
  width: 100%;
  margin-right: 35px;
  margin-left: auto;
  margin-bottom: 186px;
}

.setting_popup .modal-body {
  padding: 20px 18px 24px;
}

.setting_popup .modal-body .label-form {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  color: #a4a9bc;
  margin-bottom: 8px;
}

.setting_popup .modal-body .m-top-15 {
  margin-top: 15px;
}

.setting_popup .modal-body .input {
  padding: 14px 10px;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  color: #000000;
  background-color: #f9f9f9;
  border-color: transparent;
  -webkit-box-shadow: inset 0px 0px 2px #00000029;
          box-shadow: inset 0px 0px 2px #00000029;
  border-radius: 6px;
}

.setting_popup .modal-body .radio_box {
  padding: 15px 9px;
  background-color: #ececec;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting_popup .modal-body .radio_box [type="radio"]:checked,
.setting_popup .modal-body .radio_box [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.setting_popup .modal-body .radio_box [type="radio"]:checked + label,
.setting_popup .modal-body .radio_box [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  color: #000000;
}

.setting_popup .modal-body .radio_box [type="radio"]:checked + label:before,
.setting_popup .modal-body .radio_box [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.setting_popup .modal-body .radio_box [type="radio"]:checked + label:after,
.setting_popup .modal-body .radio_box [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #764af3;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.setting_popup .modal-body .radio_box [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.setting_popup .modal-body .radio_box [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.setting_popup .modal-body .radio_box .form-check-label {
  font-size: 12px;
  color: #000000;
}

.setting_popup .modal-body .admin_popup_table {
  background: #F9F9F9;
  -webkit-box-shadow: inset 0px 0px 2px #00000029;
          box-shadow: inset 0px 0px 2px #00000029;
  border-radius: 6px;
  padding-bottom: 10px;
}

.setting_popup .modal-body .admin_popup_table table {
  width: 100%;
  margin-bottom: 5px;
}

.setting_popup .modal-body .admin_popup_table table td,
.setting_popup .modal-body .admin_popup_table table th {
  padding: 3px 9px;
}

.setting_popup .modal-body .admin_popup_table table td:nth-child(1),
.setting_popup .modal-body .admin_popup_table table th:nth-child(1) {
  width: 58%;
}

.setting_popup .modal-body .admin_popup_table table td:nth-child(2), .setting_popup .modal-body .admin_popup_table table td:nth-child(3),
.setting_popup .modal-body .admin_popup_table table th:nth-child(2),
.setting_popup .modal-body .admin_popup_table table th:nth-child(3) {
  width: 21%;
}

.setting_popup .modal-body .admin_popup_table table .form-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting_popup .modal-body .admin_popup_table table .form-check .form-check-input {
  padding: 4px;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  margin-top: 0;
}

.setting_popup .modal-body .admin_popup_table table .form-check .form-check-label {
  font-size: 8px;
  font-family: 'Outfit Regular';
  line-height: 10px;
  color: #000000;
}

.setting_popup .modal-body .admin_popup_table table thead {
  border-bottom: 1px solid #E4E4E4;
}

.setting_popup .modal-body .admin_popup_table table thead tr th .feature_head {
  font-size: 10px;
  font-family: 'Outfit Regular';
  color: #000000;
}

.setting_popup .modal-body .admin_popup_table table tbody tr td .feature_head {
  font-size: 12px;
  font-family: 'Outfit Regular';
}

.setting_popup .modal-body .admin_popup_table table tbody tr td .form-check .form-check-input {
  width: 13px;
  height: 13px;
}

.setting_popup .modal-body .btn-close {
  background: none;
}

.setting_popup .modal-body .styled-select {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background-image: url(/images/select-arrow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right 20px top 18px;
  background-size: 8px;
  position: relative;
}

.setting_popup .modal-body select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.setting_popup .modal-body select:focus {
  outline: none;
}

.setting_popup .modal-body textarea {
  resize: none;
}

.setting_popup .modal-body .switch {
  height: 0px;
  margin-top: -25px;
}

.setting_popup .modal-body .switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.setting_popup .modal-body .switch label {
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
  width: 16px;
  height: 9px;
  background: #a4a9bc;
  border-radius: 100px;
  position: relative;
}

.setting_popup .modal-body .switch label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.setting_popup .modal-body .switch input:checked + label {
  background: #764af3;
}

.setting_popup .modal-body .switch input:checked + label:after {
  left: calc(100% - 1px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.setting_popup .modal-body .switch label:active:after {
  width: 7px;
}

.setting_popup .modal-body .mt-10 {
  margin-top: 10px;
}

.setting_popup .modal-body .court-btn button {
  padding: 14px 11px;
  font-size: 12px;
  line-height: 15px;
}

.setting_popup .modal-footer {
  padding: 20px 18px 18px 17px;
  border-top: 0.6px solid #e4e4e4;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.setting_popup .modal-footer button {
  padding: 14px 0px;
  max-width: 180px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
}

.setting_popup .modal-footer button:last-child {
  color: #a4a9bc;
  background-image: none;
  padding: 16px 0;
}

.setting_popup .modal-footer button:last-child:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */